.dropdown {
  max-width: 240px;
  width: 100%;
  padding: 10px 0;

  &__label {
    width: 100%;
  }

  &__text {
    margin-bottom: 5px;
    padding-left: 20px;
    color: white;
  }
  &__list {
    position: absolute;
    width: 100%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    transition: all 300ms linear;
    overflow: hidden;
    z-index: 10;
    color: black;

    &--hidden {
      opacity: 0;
      height: 0px;
      padding: 0;
    }
  }

  &__selected {
    padding: 8px 16px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    color: black;
  }

  &__item {
    padding: 3px 6px 3px 20px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid rgba($color: gray, $alpha: 0.5);
    cursor: pointer;

    &:hover {
      background-color: teal;
      color: white;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
