.user-card-wrapper {
  max-width: 1024px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: 1024px) {
    padding: 30px 20px;
  }
}
