.user-card {
  width: 320px;
  padding: 20px 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  transition: transform 300ms linear;

  box-shadow: 0 0 10px 5px rgba($color: white, $alpha: 0.3);

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba($color: black, $alpha: 0.4);
  }

  &__row {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;

    &-key {
      padding: 0 10px 0 5px;
      background-color: teal;
      border-radius: 5px;
    }

    &-value {
      padding: 0 5px 0 10px;
      background-color: darkred;
      border-radius: 5px;
    }
  }
}
