.date-element {
  width: 100%;
  max-width: 240px;
  padding: 10px 0;

  input {
    padding: 8px 16px !important;
  }

  &__text {
    padding-left: 20px;
    color: white;
    margin-bottom: 5px;
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__error {
    padding: 5px 0;
    font-size: 10px;
    line-height: 12px;
    color: darkred;
  }
}
