.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.input {
  padding: 8px 16px;
  border-radius: 20px;
  outline: none;
  border-color: 2px solid transparent;

  &:focus {
    border: 2px solid teal;
  }
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, gray, lightgray);
  font-family: Roboto, Tahoma, sans-serif;
}

.cards {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000000, 0.4);
}
