.app {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, gray, lightgray);
}

.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.input {
  padding: 8px 16px;
  border-radius: 20px;
  outline: none;
  border-color: transparent;

  &:focus {
    border: 2px solid black;
  }
}
