.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
  }

  &--active {
    background-color: gray;
  }
}

.input {
  padding: 8px 16px;
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;

  &:focus {
    border: 2px solid teal;
  }
}

.app {
  min-height: 100vh;
  background-color: aliceblue;
  font-family: Roboto, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

.cards {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000000, 0.4);
}
