.card {
  width: 300px;
  background-color: wheat;
  border-radius: 20px;
  overflow: hidden;
  color: rgba($color: #000000, $alpha: 0.7);
  font-size: 12px;
  line-height: 16px;
  box-shadow: 20px 20px 40px 10px rgba($color: #000000, $alpha: 0.3);

  &__img-wrapper {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__content {
    padding: 20px 10px 10px 10px;
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  &__divider {
    margin: 5px 0;
  }

  &__stat {
    display: flex;
    justify-content: space-between;
  }

  &__tags {
    width: 100%;
  }

  &__tag {
    background-color: lightcyan;
    margin-right: 10px;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  &__likes,
  &__views {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}
