.form-element {
  width: 100%;
  padding: 10px 0;

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.form__body {
  .checkbox {
    .form-element__label {
      flex-direction: row;
      align-items: center;
      width: fit-content;
      cursor: pointer;

      p {
        margin-left: 10px;
      }
    }
    input {
      width: 1px;
      height: 0;
      opacity: 0;
    }

    &__indicator {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: white;
      border: 2px solid gray;
    }

    .checked {
      .checkbox__line-1 {
        position: absolute;
        left: 2px;
        bottom: 0;
        width: 3px;
        height: 15px;
        background-color: red;
        transform: rotate(-45deg);
      }
      .checkbox__line-2 {
        position: absolute;
        left: 15px;
        bottom: 0;
        width: 3px;
        height: 25px;
        background-color: red;
        transform: rotate(45deg);
      }
    }
  }
  .dropdown {
    &__list {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 10px 0;
      border-radius: 5px;
      transition: all 300ms linear;
      overflow: hidden;

      &--hidden {
        opacity: 0;
        height: 0px;
        width: 0px;
        padding: 0;
      }
    }

    &__selected {
      padding: 8px 16px;
      background-color: white;
      border-radius: 20px;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    &__item {
      padding: 3px 6px 3px 20px;
      font-size: 12px;
      line-height: 20px;
      border-bottom: 1px solid rgba($color: gray, $alpha: 0.5);
      cursor: pointer;

      &:hover {
        background-color: teal;
        color: white;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .switcher {
    width: fit-content;
    & .form-element__label {
      flex-direction: row;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &__body {
      padding: 0 3px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      width: 40px;
      height: 20px;
      border-radius: 20px;
      background-color: white;
      box-shadow: inset 0 0 3px 6px rgba($color: gray, $alpha: 0.3);

      input {
        opacity: 0;
        width: 1px;
        height: 1px;
      }
    }

    &__circle-wrapper {
      width: 100%;
      background-color: rgba($color: red, $alpha: 0.4);
      border-radius: 20px;
      transition: all 0.3s linear;

      &.checked {
        background-color: rgba($color: green, $alpha: 0.4);
      }
    }

    &__circle {
      width: 14px;
      height: 14px;
      border-radius: 20px;
      background-color: teal;
      transition: transform 0.3s linear;

      &.checked {
        transform: translateX(20px);
      }
    }
  }
}
