.searchbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  max-width: 280px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: cornflowerblue;
  border-radius: 0 10px 10px 0;
  transition: transform 0.3s linear;
  z-index: 100;

  &__toggle {
    position: absolute;
    top: 10px;
    right: -40px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    z-index: 101;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: cornflowerblue;
      }
    }
  }

  &__input {
    position: relative;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__per-page {
    padding: 6px 12px;
    border-radius: 20px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 479px) {
      justify-content: center;
    }
  }

  &__filter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__icon {
    position: absolute;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
    height: 40px;
  }

  .search-button,
  .filter-button {
    height: 40px;
  }

  .search-button {
    margin-right: 10px;
  }
}
