.searchbar {
  padding: 10px 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 5px 20px 5px rgba($color: white, $alpha: 0.4);

  &__content {
    position: relative;
  }

  &__filter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
  }
}
