.searchbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 20px 5px rgba($color: white, $alpha: 0.4);

  &__content {
    position: relative;
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
  }
}
