.searchbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  max-width: 280px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: cornflowerblue;
  transition: all 0.6s linear;
  z-index: 100;
  border-radius: 0 10px 10px 10px;
  transform: translate(0%, 0);

  &--hide {
    transform: translate(-100%, 0);
    .searchbar__toggle {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: -80px;
    padding: 5px 10px;
    color: white;
    border: none;
    outline: none;
    z-index: 101;
    cursor: pointer;
    background-color: cornflowerblue;
    border: 1px solid white;
    border-radius: 5px;
    transform: rotate(-90deg);

    svg {
      width: 15px;
      height: 15px;
      margin-left: 10px;
      transform: rotate(-90deg);

      path {
        fill: white;
      }
    }
  }

  &__input {
    position: relative;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__per-page {
    padding: 6px 12px;
    border-radius: 20px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 479px) {
      justify-content: center;
    }
  }

  &__filter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__icon {
    position: absolute;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
    height: 40px;
  }

  .search-button,
  .filter-button {
    height: 40px;
  }

  .search-button {
    margin-right: 10px;
  }
}
