.searchbar {
  position: relative;
  padding: 10px 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: cornflowerblue;
  box-shadow: 0 5px 20px 5px rgba($color: #cccccc, $alpha: 1.0);
  border-radius: 0 0 10px 10px;

  &__logo {
    position: absolute;
    left: 40px;
    top: 5px;
    display: flex;

    &-text {
      margin-left: 10px;
      color: white;
      line-height: 50px;
      vertical-align: middle;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__filter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
  }
}
