.searchbar {
  position: relative;
  padding: 10px 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: cornflowerblue;
  box-shadow: 0 5px 20px 5px rgba($color: #cccccc, $alpha: 1.0);
  border-radius: 0 0 10px 10px;

  @media (max-width: 1024px) {
    padding: 10px;
    align-items: flex-end;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
    align-items: center;
  }

  &__logo {
    position: absolute;
    left: 40px;
    top: 5px;
    display: flex;

    &-text {
      margin-left: 10px;
      color: white;
      line-height: 50px;
      vertical-align: middle;
    }

    @media (max-width: 1024px) {
      left: 10px;
    }
  }

  &__input {
    position: relative;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
      margin: 10px 0;
    }
  }

  &__per-page {
    padding: 6px 12px;
    border-radius: 20px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 479px) {
      justify-content: center;
    }
  }

  &__filter {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    position: absolute;
    top: 6px;
    left: 8px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .btn {
    margin-left: 10px;
  }

  .input {
    padding-left: 35px;
    height: 40px;
  }

  .search-button,
  .filter-button {
    height: 40px;
  }

  .search-button {
    margin-right: 10px;
  }
}
