.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: cornflowerblue;
  z-index: 1000;

  &__logo {
    position: absolute;
    left: 40px;
    top: 5px;
    display: flex;

    @media (max-width: 1024px) {
      left: 10px;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
}
