@import '../../styles/constants';
@import '../../styles/mixins';

.news-card-wrapper {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1024px;
  display: flex;
  flex-direction: column;

  &__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.news-card {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 3px 3px 20px 6px rgba($color: #cccccc, $alpha: 1.0);

  &__image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex-grow: 1;
    padding: 10px;
  }

  &__title {
    padding: 10px 0;
    text-align: center;
    @include secondaryFont;
  }

  &__description {
    @include contentFont;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #000;
    height: 75px;
    @include contentFont;

    &-left {
      flex-basis: 70%;
    }

    &-right {
      flex-basis: 30%;
      text-align: center;
    }
  }
}
